.home-page {
  background-image: url(../images/sidebar/electionManagement.png);
}

#sidebar.about-page {
  background-image: url(../images/sidebar/about-sidebar.jpg);
}

.election-mgmt-page {
  grid-area: sidebar;
  background-image: url(../images/sidebar/electionManagement.png);
  background-size: auto;
}

.voter-reg-page {
  grid-area: sidebar;
  background-image: url(../images/sidebar/register-vote.jpeg);
  background-size: auto;
}

.voter-list-page {
  grid-area: sidebar;
  background-image: url(../images/sidebar/register-vote.jpeg);
  background-size: auto;
}