#content {
    grid-area: content;
  }

  #content.about-page > header {
    background-color: gray;
    color: white;
    padding: 10px;
  }
  
  #content > section {
    padding: 10px;
  }
  
  #content > section > p {
    padding-bottom: 10px;
  }
  