.calc-tool {
    border-radius: 10px;
    margin: 5px;
  }

.historyItem {
    margin-top: 10px;
}

.historyDeleteButton {
    border-radius: 15px;
}

#calc-table {
    margin-top: 20px;
    margin-left: 10px;
}