

.contentSectionHeader {
    font-weight: bold;
    font-size: 1.2rem;

}

.colorList {
    list-style-position: inside;
    list-style-type: initial; /* use browser default */
    margin: 10px 0; /* 10px top and bottom */   
}

#car-table table {
    border: 1px solid grey;
  }
/*
#car-table th{
  border: 1px solid grey;
  width: 350px;
  text-align: center;
  background-color: lightgrey;
}

  #car-table td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
  }

  */