
  #page-footer {
    grid-area: footer;
    background-color: #4AAFE7;
    color: rgb(80, 77, 77);
    text-align: center;
    padding-top: 20px;
  }
  
  #page-footer > small {
    font-size: 0.8rem;
  }