.election-mgmt-page {
    grid-area: sidebar;
    background-image: url(../images/sidebar/electionManagement.png);
    background-size: auto;
  }


.voter-reg-page {
  grid-area: sidebar;
  background-image: url(../images/sidebar/register-vote.jpeg);
  background-size: auto;
}

.voter-list-page {
  grid-area: sidebar;
  background-image: url(../images/sidebar/vote-matters.jpeg);
  background-size: auto;
}