
#election-table table {
    border: 1px solid grey;
    margin: 10px;
  }

  #election-table th {
    border: 1px solid grey;
    width: 100px;
    text-align: center;
    background-color: lightskyblue;
  }

  #elecion-table > td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
  }

main > #content{
    margin: 20x;
  }
