
#election-table table {
    border: 1px solid grey;
  }

  #election-table th {
    border: 1px solid grey;
    width: 350px;
    text-align: center;
    background-color: lightskyblue;
  }

  #elecion-table td {
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
  }
