#content {
  grid-area: content;
  margin: 20px;
}

#content > header {
  background-color: gray;
  color: white;
  padding: 10px;
}

#content > section {
  padding: 10px;
}

#sidebar {
  grid-area: sidebar;
  background-size: cover;
}

#content > button {
  border-radius: 15px;
}